<h2>Olá mundo!</h2>

<form action="/search" method="POST">
    <h2>Pesquisar</h2>
    <hr/>
    <input type="text" name="user_email" placeholder="Email">
    <button type="submit">Cadastrar</button>
</form>

<a href="/">Inicio</a>
